*{
	margin: 0;
	padding: 0;
}

#date, #calendar{
/* 文字の色 */
	color: #fff;
/* 文字の色 */

	text-shadow:
	black 2px 0px,  black -2px 0px,
	black 0px -2px, black 0px 2px,
	black 2px 2px , black -2px 2px,
	black 2px -2px, black -2px -2px,
	black 1px 2px,  black -1px 2px,
	black 1px -2px, black -1px -2px,
	black 2px 1px,  black -2px 1px,
	black 2px -1px, black -2px -1px;

	line-height: 1;
/* 文字の種類 */
	font-family: 'Impact';
/* 文字の種類 */

}

#date {
  font-size: 36px;
}

#calendar {
  font-size: 25px;
}